.featured{
    height: 600px;
    diplay:flex;
    justify-content:center;
    background-color: #013914;
    color:#fff;

    .container{
        width:1400px;
        display:flex;
        align-items:center;
        .left{
            display:flex;
            flex-direction: column;
            gap:30px;
            
            h1{
                font-size: 50px;

            }
            .search{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #fff;
                border-radius: 5px;
                .searchInput{
                    display:flex;
                    align-items: center;
                    gap:10px;
                    img{
                        width:20px;
                        height:20px;
                        margin:10px;
                    }
                }
                button{
                    width:120px;
                    height:50px;
                    border:none;
                    color: #fff;
                    background-color: #1dbf73;
                    

                }

            }
            .popular{
                span{
            
                }
                button{
            color:#fff;
            background-color: transparent;
            border-radius: 15px ;
            padding:5px 10px;
            border : 1px solid #fff
                }
            }
        }
        
    }
}